In [67]:
#     '),('  -> '),\n('
def fix(directory, filename):
    _f = open(directory + 'fixed_' + filename, 'w')
    f = open(directory + filename)
    for line in f.readlines():
        _line = re.sub('\),\(', '),\n(', line)
        _f.write(_line)
    _f.close()
    
# string = '(one),(two),(three),(four)'
# new_string = re.sub('\),\(', '),\n(', string)
# print string
# print new_string
fix('../data/2013/', 'cb_people.sql')

In [90]:
# https://stackoverflow.com/questions/27584405/how-to-import-a-mysqldump-into-pandas

from StringIO import StringIO
import re
import pandas as pd

def read_dump(dump_filename, target_table):
    sio = StringIO()
    count = 0
    fast_forward = True
    with open(dump_filename, 'rb') as f:
        for line in f:
            line = line.strip()
            if line.lower().startswith('insert') and target_table in line:
                fast_forward = False
            if fast_forward:
                continue
            data = re.findall('\([^\)]*\)', line)
            try:
                newline = data[0]
                ### changing here
                newlines = re.sub('\),\(', '),\n(', newline)
                ###
#                 print len(newlines)
                for newline in newlines.split('\n'):
#                     print
#                     print newline
                    newline = newline.strip(' ()')
#                     print newline
                    newline = newline.replace('`', '')
#                     print newline
                    newline = newline.replace(', ', '_ ')
#                     print newline
#                     newline = newline.replace(',N', '')
#                     new_new_line = ''
                    
#                     for item in newline:
#                         print item
                        
                    sio.write(newline)
                    sio.write("\n")
            except IndexError:
                print newline
                pass
#             if line.endswith(';'):
#                 print line
#                 break
    sio.pos = 0
    return sio

In [107]:
people_table = read_dump('../data/2013/fixed_cb_people.sql', 'cb_people')

226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'
226709,'p:268597','Denise','Basow',NULL,'Unaffiliated'

In [108]:
df_people = pd.read_csv(people_table, header=None, error_bad_lines=False)

Skipping line 5888: expected 6 fields, saw 7
Skipping line 8130: expected 6 fields, saw 7
Skipping line 8155: expected 6 fields, saw 7
Skipping line 9442: expected 6 fields, saw 7
Skipping line 11525: expected 6 fields, saw 7
Skipping line 12568: expected 6 fields, saw 7
Skipping line 13326: expected 6 fields, saw 7
Skipping line 15723: expected 6 fields, saw 7
Skipping line 16342: expected 6 fields, saw 7
Skipping line 17404: expected 6 fields, saw 7
Skipping line 18109: expected 6 fields, saw 7
Skipping line 19184: expected 6 fields, saw 7
Skipping line 19185: expected 6 fields, saw 7
Skipping line 21578: expected 6 fields, saw 7
Skipping line 22247: expected 6 fields, saw 7
Skipping line 23056: expected 6 fields, saw 7
Skipping line 24065: expected 6 fields, saw 8
Skipping line 24900: expected 6 fields, saw 7
Skipping line 29638: expected 6 fields, saw 8
Skipping line 29640: expected 6 fields, saw 7
Skipping line 30238: expected 6 fields, saw 7
Skipping line 31520: expected 6 fields, saw 7
Skipping line 31976: expected 6 fields, saw 7
Skipping line 32774: expected 6 fields, saw 7
Skipping line 33953: expected 6 fields, saw 7
Skipping line 34394: expected 6 fields, saw 7
Skipping line 36756: expected 6 fields, saw 7
Skipping line 38637: expected 6 fields, saw 7
Skipping line 38638: expected 6 fields, saw 7
Skipping line 40632: expected 6 fields, saw 7
Skipping line 42549: expected 6 fields, saw 8
Skipping line 44838: expected 6 fields, saw 7
Skipping line 46617: expected 6 fields, saw 7
Skipping line 46984: expected 6 fields, saw 7
Skipping line 47042: expected 6 fields, saw 7
Skipping line 48922: expected 6 fields, saw 7
Skipping line 50151: expected 6 fields, saw 7
Skipping line 52298: expected 6 fields, saw 7
Skipping line 52299: expected 6 fields, saw 7
Skipping line 52947: expected 6 fields, saw 7
Skipping line 53029: expected 6 fields, saw 7
Skipping line 53411: expected 6 fields, saw 7
Skipping line 53830: expected 6 fields, saw 7
Skipping line 54702: expected 6 fields, saw 7
Skipping line 55035: expected 6 fields, saw 8
Skipping line 55841: expected 6 fields, saw 7
Skipping line 57644: expected 6 fields, saw 8
Skipping line 58310: expected 6 fields, saw 7
Skipping line 58950: expected 6 fields, saw 7
Skipping line 59327: expected 6 fields, saw 7
Skipping line 59597: expected 6 fields, saw 7
Skipping line 60570: expected 6 fields, saw 7
Skipping line 61035: expected 6 fields, saw 7
Skipping line 61411: expected 6 fields, saw 7
Skipping line 61514: expected 6 fields, saw 7
Skipping line 62312: expected 6 fields, saw 7
Skipping line 62594: expected 6 fields, saw 7
Skipping line 62740: expected 6 fields, saw 7
Skipping line 62952: expected 6 fields, saw 7
Skipping line 63083: expected 6 fields, saw 7
Skipping line 63194: expected 6 fields, saw 7
Skipping line 63440: expected 6 fields, saw 7
Skipping line 63567: expected 6 fields, saw 7
Skipping line 63729: expected 6 fields, saw 7
Skipping line 64674: expected 6 fields, saw 7
Skipping line 65466: expected 6 fields, saw 7
Skipping line 65933: expected 6 fields, saw 7
Skipping line 66880: expected 6 fields, saw 7
Skipping line 67521: expected 6 fields, saw 7
Skipping line 67651: expected 6 fields, saw 7
Skipping line 67938: expected 6 fields, saw 7
Skipping line 68406: expected 6 fields, saw 7
Skipping line 69478: expected 6 fields, saw 8
Skipping line 69788: expected 6 fields, saw 7
Skipping line 70036: expected 6 fields, saw 7
Skipping line 70233: expected 6 fields, saw 7
Skipping line 70364: expected 6 fields, saw 7
Skipping line 70385: expected 6 fields, saw 7
Skipping line 71656: expected 6 fields, saw 7
Skipping line 72184: expected 6 fields, saw 7
Skipping line 73210: expected 6 fields, saw 7
Skipping line 73639: expected 6 fields, saw 7
Skipping line 74278: expected 6 fields, saw 7
Skipping line 76042: expected 6 fields, saw 7
Skipping line 76462: expected 6 fields, saw 8
Skipping line 76631: expected 6 fields, saw 7
Skipping line 78495: expected 6 fields, saw 7
Skipping line 79398: expected 6 fields, saw 8
Skipping line 80030: expected 6 fields, saw 7
Skipping line 81395: expected 6 fields, saw 7
Skipping line 83722: expected 6 fields, saw 7
Skipping line 85496: expected 6 fields, saw 7
Skipping line 85913: expected 6 fields, saw 7
Skipping line 86098: expected 6 fields, saw 8
Skipping line 88788: expected 6 fields, saw 7
Skipping line 91485: expected 6 fields, saw 7
Skipping line 91854: expected 6 fields, saw 7
Skipping line 92037: expected 6 fields, saw 7
Skipping line 92707: expected 6 fields, saw 7
Skipping line 93092: expected 6 fields, saw 7
Skipping line 93345: expected 6 fields, saw 7
Skipping line 96560: expected 6 fields, saw 7
Skipping line 96741: expected 6 fields, saw 8
Skipping line 97338: expected 6 fields, saw 7
Skipping line 97475: expected 6 fields, saw 7
Skipping line 98242: expected 6 fields, saw 7
Skipping line 99832: expected 6 fields, saw 7
Skipping line 100103: expected 6 fields, saw 7
Skipping line 100124: expected 6 fields, saw 7
Skipping line 100809: expected 6 fields, saw 8
Skipping line 101038: expected 6 fields, saw 7
Skipping line 101957: expected 6 fields, saw 7
Skipping line 102159: expected 6 fields, saw 7
Skipping line 103287: expected 6 fields, saw 7
Skipping line 103987: expected 6 fields, saw 7
Skipping line 109956: expected 6 fields, saw 7
Skipping line 112158: expected 6 fields, saw 7
Skipping line 112196: expected 6 fields, saw 7
Skipping line 112350: expected 6 fields, saw 7
Skipping line 113568: expected 6 fields, saw 7
Skipping line 114262: expected 6 fields, saw 7
Skipping line 114825: expected 6 fields, saw 7
Skipping line 115510: expected 6 fields, saw 7
Skipping line 116002: expected 6 fields, saw 7
Skipping line 117105: expected 6 fields, saw 7
Skipping line 117208: expected 6 fields, saw 8
Skipping line 118315: expected 6 fields, saw 7
Skipping line 118316: expected 6 fields, saw 7
Skipping line 118521: expected 6 fields, saw 7
Skipping line 120208: expected 6 fields, saw 7
Skipping line 120476: expected 6 fields, saw 8
Skipping line 121119: expected 6 fields, saw 7
Skipping line 121167: expected 6 fields, saw 7
Skipping line 122153: expected 6 fields, saw 7
Skipping line 122702: expected 6 fields, saw 7
Skipping line 124982: expected 6 fields, saw 7
Skipping line 126655: expected 6 fields, saw 7
Skipping line 126921: expected 6 fields, saw 7
Skipping line 126939: expected 6 fields, saw 7
Skipping line 127196: expected 6 fields, saw 7
Skipping line 127208: expected 6 fields, saw 8
Skipping line 127230: expected 6 fields, saw 7
Skipping line 128755: expected 6 fields, saw 7
Skipping line 128875: expected 6 fields, saw 7
Skipping line 129789: expected 6 fields, saw 7
Skipping line 130890: expected 6 fields, saw 7

Skipping line 131797: expected 6 fields, saw 7
Skipping line 132117: expected 6 fields, saw 7
Skipping line 132179: expected 6 fields, saw 7
Skipping line 133055: expected 6 fields, saw 7
Skipping line 133254: expected 6 fields, saw 7
Skipping line 133438: expected 6 fields, saw 7
Skipping line 133610: expected 6 fields, saw 7
Skipping line 134236: expected 6 fields, saw 7
Skipping line 134240: expected 6 fields, saw 8
Skipping line 135073: expected 6 fields, saw 7
Skipping line 135110: expected 6 fields, saw 7
Skipping line 135280: expected 6 fields, saw 7
Skipping line 136509: expected 6 fields, saw 7
Skipping line 136528: expected 6 fields, saw 7
Skipping line 136545: expected 6 fields, saw 7
Skipping line 136546: expected 6 fields, saw 7
Skipping line 136627: expected 6 fields, saw 8
Skipping line 137298: expected 6 fields, saw 7
Skipping line 137299: expected 6 fields, saw 7
Skipping line 137500: expected 6 fields, saw 7
Skipping line 137865: expected 6 fields, saw 7
Skipping line 137870: expected 6 fields, saw 7
Skipping line 137920: expected 6 fields, saw 7
Skipping line 140319: expected 6 fields, saw 7
Skipping line 140610: expected 6 fields, saw 7
Skipping line 141298: expected 6 fields, saw 7
Skipping line 142034: expected 6 fields, saw 7
Skipping line 142036: expected 6 fields, saw 7
Skipping line 142226: expected 6 fields, saw 7
Skipping line 142772: expected 6 fields, saw 7
Skipping line 143052: expected 6 fields, saw 7
Skipping line 143083: expected 6 fields, saw 7
Skipping line 143546: expected 6 fields, saw 7
Skipping line 143796: expected 6 fields, saw 7
Skipping line 145573: expected 6 fields, saw 7
Skipping line 145962: expected 6 fields, saw 7
Skipping line 146141: expected 6 fields, saw 7
Skipping line 146259: expected 6 fields, saw 7
Skipping line 146596: expected 6 fields, saw 7
Skipping line 146603: expected 6 fields, saw 7
Skipping line 146707: expected 6 fields, saw 7
Skipping line 146714: expected 6 fields, saw 7
Skipping line 146769: expected 6 fields, saw 8
Skipping line 147007: expected 6 fields, saw 7
Skipping line 147091: expected 6 fields, saw 7
Skipping line 147399: expected 6 fields, saw 7
Skipping line 147400: expected 6 fields, saw 7
Skipping line 148487: expected 6 fields, saw 7
Skipping line 148488: expected 6 fields, saw 7
Skipping line 148489: expected 6 fields, saw 7
Skipping line 148891: expected 6 fields, saw 7
Skipping line 149230: expected 6 fields, saw 7
Skipping line 150011: expected 6 fields, saw 7
Skipping line 150240: expected 6 fields, saw 7
Skipping line 150534: expected 6 fields, saw 7
Skipping line 151824: expected 6 fields, saw 7
Skipping line 151972: expected 6 fields, saw 7
Skipping line 152178: expected 6 fields, saw 7
Skipping line 152660: expected 6 fields, saw 7
Skipping line 152665: expected 6 fields, saw 7
Skipping line 153365: expected 6 fields, saw 7
Skipping line 153571: expected 6 fields, saw 7
Skipping line 155222: expected 6 fields, saw 7
Skipping line 156126: expected 6 fields, saw 7
Skipping line 156503: expected 6 fields, saw 7
Skipping line 156811: expected 6 fields, saw 7
Skipping line 157452: expected 6 fields, saw 7
Skipping line 157887: expected 6 fields, saw 7
Skipping line 158979: expected 6 fields, saw 7
Skipping line 159527: expected 6 fields, saw 7
Skipping line 159992: expected 6 fields, saw 7
Skipping line 160014: expected 6 fields, saw 7
Skipping line 160087: expected 6 fields, saw 8
Skipping line 160088: expected 6 fields, saw 8
Skipping line 160578: expected 6 fields, saw 7
Skipping line 160966: expected 6 fields, saw 7
Skipping line 162577: expected 6 fields, saw 7
Skipping line 163210: expected 6 fields, saw 7
Skipping line 163721: expected 6 fields, saw 7
Skipping line 163806: expected 6 fields, saw 7
Skipping line 163807: expected 6 fields, saw 7
Skipping line 163809: expected 6 fields, saw 7
Skipping line 164605: expected 6 fields, saw 7
Skipping line 164821: expected 6 fields, saw 7
Skipping line 166228: expected 6 fields, saw 7
Skipping line 167877: expected 6 fields, saw 7
Skipping line 168704: expected 6 fields, saw 7
Skipping line 168769: expected 6 fields, saw 7
Skipping line 169550: expected 6 fields, saw 7
Skipping line 172180: expected 6 fields, saw 7
Skipping line 173268: expected 6 fields, saw 7
Skipping line 174268: expected 6 fields, saw 7
Skipping line 174638: expected 6 fields, saw 7
Skipping line 175055: expected 6 fields, saw 7
Skipping line 175473: expected 6 fields, saw 7
Skipping line 175655: expected 6 fields, saw 7
Skipping line 176581: expected 6 fields, saw 7
Skipping line 177038: expected 6 fields, saw 7
Skipping line 177039: expected 6 fields, saw 7
Skipping line 177041: expected 6 fields, saw 7
Skipping line 177064: expected 6 fields, saw 7
Skipping line 177592: expected 6 fields, saw 7
Skipping line 178110: expected 6 fields, saw 7
Skipping line 179336: expected 6 fields, saw 7
Skipping line 180600: expected 6 fields, saw 7
Skipping line 183323: expected 6 fields, saw 7
Skipping line 186742: expected 6 fields, saw 8
Skipping line 187031: expected 6 fields, saw 7
Skipping line 188100: expected 6 fields, saw 7
Skipping line 188104: expected 6 fields, saw 7
Skipping line 188787: expected 6 fields, saw 7
Skipping line 189948: expected 6 fields, saw 7
Skipping line 190335: expected 6 fields, saw 7
Skipping line 191360: expected 6 fields, saw 7
Skipping line 191408: expected 6 fields, saw 7
Skipping line 193324: expected 6 fields, saw 7
Skipping line 199981: expected 6 fields, saw 7
Skipping line 200464: expected 6 fields, saw 7
Skipping line 201955: expected 6 fields, saw 7
Skipping line 202019: expected 6 fields, saw 7
Skipping line 203889: expected 6 fields, saw 7
Skipping line 204286: expected 6 fields, saw 7
Skipping line 206348: expected 6 fields, saw 10
Skipping line 209321: expected 6 fields, saw 7
Skipping line 210454: expected 6 fields, saw 7
Skipping line 212135: expected 6 fields, saw 7
Skipping line 212136: expected 6 fields, saw 7
Skipping line 212241: expected 6 fields, saw 7
Skipping line 213183: expected 6 fields, saw 7
Skipping line 213275: expected 6 fields, saw 7
Skipping line 216448: expected 6 fields, saw 7
Skipping line 218524: expected 6 fields, saw 8
Skipping line 221682: expected 6 fields, saw 7
Skipping line 223044: expected 6 fields, saw 7
Skipping line 225092: expected 6 fields, saw 7
Skipping line 226628: expected 6 fields, saw 7
Skipping line 226631: expected 6 fields, saw 7
Skipping line 226633: expected 6 fields, saw 7

In [109]:
print df_people

             0           1             2              3  \
0            1       'p:2'         'Ben'      'Elowitz'
1            2       'p:3'       'Kevin'     'Flaherty'
2            3       'p:4'        'Raju'      'Vegesna'
3            4       'p:5'         'Ian'        'Wenig'
4            5       'p:6'       'Kevin'         'Rose'
5            6       'p:7'         'Jay'      'Adelson'
6            7       'p:8'        'Owen'        'Byrne'
7            8       'p:9'         'Ron'   'Gorodetzky'
8            9      'p:10'        'Mark'   'Zuckerberg'
9           10      'p:11'      'Dustin'    'Moskovitz'
10          11      'p:12'        'Owen'    'Van Natta'
11          12      'p:13'        'Matt'       'Cohler'
12          13      'p:14'       'Chris'       'Hughes'
13          14      'p:16'        'Alex'        'Welch'
14          15      'p:17'      'Darren'      'Crystal'
15          16      'p:18'     'Michael'        'Clark'
16          17      'p:19'        'Greg'       'Wimmer'
17          18      'p:20'       'Peter'       'Foster'
18          19      'p:21'     'Heather'         'Dana'
19          20      'p:22'       'Peter'         'Pham'
20          21      'p:23'       'Scott'    'Penberthy'
21          22      'p:24'       'Alice'    'Lankester'
22          23      'p:25'        'Alex'        'Musil'
23          24      'p:26'       'Peter'        'Thiel'
24          25      'p:29'         'Gus'          'Tai'
25          26      'p:30'       'David'        'Sacks'
26          27      'p:31'        'Alan'    'Braverman'
27          28      'p:32'         'Ken'       'Howery'
28          29      'p:33'        'Luke'        'Nosek'
29          30      'p:34'        'Sean'       'Parker'
...        ...         ...           ...            ...
226395  226680  'p:268553'       'David'         'Witt'
226396  226681  'p:268554'       'Rohit'        'Valia'
226397  226682  'p:268555'       'Marta'    'Stefanova'
226398  226683  'p:268556'         'Tim'     'Koroteev'
226399  226684  'p:268557'     'Dimitar'      'Kalinov'
226400  226685  'p:268558'        'Nina'    'Daskalova'
226401  226686  'p:268559'       'Jafar'      'Jafarov'
226402  226687  'p:268560'        'Drew'      'Langloh'
226403  226688  'p:268562'       'Shyam'     'Vedantam'
226404  226689  'p:268565'   'Christian'         'Batz'
226405  226690  'p:268567'      'Stefan'  'Stangenberg'
226406  226691  'p:268568'       'Peter'    'Tyszewicz'
226407  226692  'p:268569'        'Greg'       'Wright'
226408  226693  'p:268570'    'business'       'angels'
226409  226694  'p:268572'     'Tai-Sen'        'Soong'
226410  226695  'p:268575'  'Konstantin'     'Arkhipov'
226411  226696  'p:268576'        'Tina'     'Hoang-To'
226412  226697  'p:268577'       'David'    'Rodnitzky'
226413  226698  'p:268578'       'Donna'    'L. Tempel'
226414  226699  'p:268579'        'John'      'Bissell'
226415  226700  'p:268580'        'Ryan'        'Smith'
226416  226701  'p:268584'       'Cecil'    'Bond Kyte'
226417  226702  'p:268585'     'Alfredo'          'Feo'
226418  226703  'p:268586'       'Ariel'    'Rodriguez'
226419  226704  'p:268587'        'Mark'      'Stolper'
226420  226705  'p:268589'        'John'         'Pins'
226421  226706  'p:268590'       'David'     'Schulhof'
226422  226707  'p:268592'     'Matthew'     'D. Rosen'
226423  226708  'p:268593'      'Gordon'     'Hutchins'
226424  226709  'p:268597'      'Denise'        'Basow'

                                4                            5
0                             NaN                  'Blue Nile'
1                             NaN                   'Wetpaint'
2                             NaN                       'Zoho'
3                             NaN                       'Zoho'
4                   'Redding_ CA'               'i/o Ventures'
5                   'Detroit_ MI'                       'Digg'
6                             NaN                       'Digg'
7                             NaN                       'Digg'
8                             NaN                   'Facebook'
9               'Gainesville_ FL'                   'Facebook'
10                            NaN                      'Asana'
11                            NaN                   'LinkedIn'
12      'Hickery_ North Carolina'  'General Catalyst Partners'
13                            NaN                   'C7 Group'
14                            NaN                'Photobucket'
15                            NaN            'Photobucket (Old
16                            NaN                'Photobucket'
17                            NaN                'Photobucket'
18                            NaN                'Photobucket'
19                            NaN          'Photobucket_ Inc.'
20                            NaN                'Photobucket'
21              'Surrey_ England'                      'Apple'
22                            NaN                'Photobucket'
23                            NaN                  'Confinity'
24                            NaN                 'BillShrink'
25                            NaN                     'GumGum'
26                            NaN                       'Geni'
27                            NaN        'The Founder\'s Fund'
28                            NaN        'The Founder\'s Fund'
29                            NaN                      'Asana'
...                           ...                          ...
226395                        NaN               'Unaffiliated'
226396                        NaN               'Unaffiliated'
226397                        NaN               'Unaffiliated'
226398                        NaN               'Unaffiliated'
226399                        NaN               'Unaffiliated'
226400                        NaN               'Unaffiliated'
226401                        NaN               'Unaffiliated'
226402                        NaN               'Unaffiliated'
226403                        NaN               'Unaffiliated'
226404                        NaN               'Unaffiliated'
226405                        NaN               'Unaffiliated'
226406                        NaN               'Unaffiliated'
226407                        NaN               'Unaffiliated'
226408                        NaN               'Unaffiliated'
226409                        NaN               'Unaffiliated'
226410                        NaN               'Unaffiliated'
226411                        NaN               'Unaffiliated'
226412                        NaN               'Unaffiliated'
226413                        NaN               'Unaffiliated'
226414                        NaN               'Unaffiliated'
226415                        NaN               'Unaffiliated'
226416                        NaN               'Unaffiliated'
226417                        NaN               'Unaffiliated'
226418                        NaN               'Unaffiliated'
226419                        NaN               'Unaffiliated'
226420                        NaN               'Unaffiliated'
226421                        NaN               'Unaffiliated'
226422                        NaN               'Unaffiliated'
226423                        NaN               'Unaffiliated'
226424                        NaN               'Unaffiliated'

[226425 rows x 6 columns]

In [111]:
df_people.columns = ['id', 'object_id', 'first_name', 'last_name', 'birthplace', 'affiliation_name']

In [112]:
df_people

,id,object_id,first_name,last_name,birthplace,affiliation_name
0,1,'p:2','Ben','Elowitz',NaN,'Blue Nile'
1,2,'p:3','Kevin','Flaherty',NaN,'Wetpaint'
2,3,'p:4','Raju','Vegesna',NaN,'Zoho'
3,4,'p:5','Ian','Wenig',NaN,'Zoho'
4,5,'p:6','Kevin','Rose','Redding_ CA','i/o Ventures'
5,6,'p:7','Jay','Adelson','Detroit_ MI','Digg'
6,7,'p:8','Owen','Byrne',NaN,'Digg'
7,8,'p:9','Ron','Gorodetzky',NaN,'Digg'
8,9,'p:10','Mark','Zuckerberg',NaN,'Facebook'
9,10,'p:11','Dustin','Moskovitz','Gainesville_ FL','Facebook'
10,11,'p:12','Owen','Van Natta',NaN,'Asana'
11,12,'p:13','Matt','Cohler',NaN,'LinkedIn'
12,13,'p:14','Chris','Hughes','Hickery_ North Carolina','General Catalyst Partners'
13,14,'p:16','Alex','Welch',NaN,'C7 Group'
14,15,'p:17','Darren','Crystal',NaN,'Photobucket'
15,16,'p:18','Michael','Clark',NaN,'Photobucket (Old
16,17,'p:19','Greg','Wimmer',NaN,'Photobucket'
17,18,'p:20','Peter','Foster',NaN,'Photobucket'
18,19,'p:21','Heather','Dana',NaN,'Photobucket'
19,20,'p:22','Peter','Pham',NaN,'Photobucket_ Inc.'
20,21,'p:23','Scott','Penberthy',NaN,'Photobucket'
21,22,'p:24','Alice','Lankester','Surrey_ England','Apple'
22,23,'p:25','Alex','Musil',NaN,'Photobucket'
23,24,'p:26','Peter','Thiel',NaN,'Confinity'
24,25,'p:29','Gus','Tai',NaN,'BillShrink'
25,26,'p:30','David','Sacks',NaN,'GumGum'
26,27,'p:31','Alan','Braverman',NaN,'Geni'
27,28,'p:32','Ken','Howery',NaN,'The Founder\'s Fund'
28,29,'p:33','Luke','Nosek',NaN,'The Founder\'s Fund'
29,30,'p:34','Sean','Parker',NaN,'Asana'
...,...,...,...,...,...,...
226395,226680,'p:268553','David','Witt',NaN,'Unaffiliated'
226396,226681,'p:268554','Rohit','Valia',NaN,'Unaffiliated'
226397,226682,'p:268555','Marta','Stefanova',NaN,'Unaffiliated'
226398,226683,'p:268556','Tim','Koroteev',NaN,'Unaffiliated'
226399,226684,'p:268557','Dimitar','Kalinov',NaN,'Unaffiliated'
226400,226685,'p:268558','Nina','Daskalova',NaN,'Unaffiliated'
226401,226686,'p:268559','Jafar','Jafarov',NaN,'Unaffiliated'
226402,226687,'p:268560','Drew','Langloh',NaN,'Unaffiliated'
226403,226688,'p:268562','Shyam','Vedantam',NaN,'Unaffiliated'
226404,226689,'p:268565','Christian','Batz',NaN,'Unaffiliated'
226405,226690,'p:268567','Stefan','Stangenberg',NaN,'Unaffiliated'
226406,226691,'p:268568','Peter','Tyszewicz',NaN,'Unaffiliated'
226407,226692,'p:268569','Greg','Wright',NaN,'Unaffiliated'
226408,226693,'p:268570','business','angels',NaN,'Unaffiliated'
226409,226694,'p:268572','Tai-Sen','Soong',NaN,'Unaffiliated'
226410,226695,'p:268575','Konstantin','Arkhipov',NaN,'Unaffiliated'
226411,226696,'p:268576','Tina','Hoang-To',NaN,'Unaffiliated'
226412,226697,'p:268577','David','Rodnitzky',NaN,'Unaffiliated'
226413,226698,'p:268578','Donna','L. Tempel',NaN,'Unaffiliated'
226414,226699,'p:268579','John','Bissell',NaN,'Unaffiliated'
226415,226700,'p:268580','Ryan','Smith',NaN,'Unaffiliated'
226416,226701,'p:268584','Cecil','Bond Kyte',NaN,'Unaffiliated'
226417,226702,'p:268585','Alfredo','Feo',NaN,'Unaffiliated'
226418,226703,'p:268586','Ariel','Rodriguez',NaN,'Unaffiliated'
226419,226704,'p:268587','Mark','Stolper',NaN,'Unaffiliated'
226420,226705,'p:268589','John','Pins',NaN,'Unaffiliated'
226421,226706,'p:268590','David','Schulhof',NaN,'Unaffiliated'
226422,226707,'p:268592','Matthew','D. Rosen',NaN,'Unaffiliated'
226423,226708,'p:268593','Gordon','Hutchins',NaN,'Unaffiliated'
226424,226709,'p:268597','Denise','Basow',NaN,'Unaffiliated'